<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
<div class="container">
    <div class="jumbotron" >
        <h4 class="text-center"><i class="errorType"> </i>{{errorType}}</h4>
        <h4 class="text-center"><i class="errorMessage"> </i>{{errorMessage}}</h4>
        <p class="text-center"><a class="btn btn-primary" href="/api/v1/showUsers"><i class="fa fa-home"></i>Go to ShowUser</a></p>
        <p class="text-center"><a class="btn btn-primary" href="/api/v1/showDeposits"><i class="fa fa-home"></i>Go to ShowDeposits</a></p>
    </div></div>
</body>
</html>