<!DOCTYPE HTML>
<html>
<style>
table {
    table-layout: auto;
    border-collapse: collapse;
    width:70%;
}
table, td, th {
    table-layout: auto;
    border: 1px solid #999;
    padding: 5px;
}
</style>
<head>
    <title>Deposits</title>
    <meta charset="UTF-8"/>
<body>
<form method="get">
    <input type="text" name="depositId", placeholder="Enter depositId"/>
    <button type="submit">Search</button>
</form>
<table>
    <thead>
    <tr>
        <th>
            <label>Id</label>
        </th>
        <th>
            <label>CurDepositBalance</label>
        </th>
        <th>
            <label>DateTime</label>
        </th>
        <th>
            <label>Transactions</label>
        </th>
        <th>
            <label>Transactions amount</label>
        </th>
    </tr>
    </thead>
    <tbody>
    {{#deposits}}
        <tr>
            <td headers="depositId">{{id}}</td>
            <td headers="currDepBalance">{{curDepositBalance}}</td>
            <td headers="openDateTime">{{dateTime}}</td>
            <td headers="transactions">{{transactions}}</td>
            <td headers="transactionAmount">{{transactionsAmount}}</td>
        </tr>
    {{/deposits}}
    </tbody>
</table>
</body>
</html>