<!DOCTYPE HTML>
<html>
<style>
table {
    table-layout: auto;
    border-collapse: collapse;
    width:70%;
}
table, td, th {
    table-layout: auto;
    border: 1px solid #999;
    padding: 5px;
}
</style>
<head>
    <title>Users</title>
    <meta charset="UTF-8"/>
<body>
<form method="get">
    <input type="text" name="userId", placeholder="Enter userId"/>
    <button type="submit">Search</button>
</form>
<table>
    <thead>
    <tr>
        <th>
            <label>Id</label>
        </th>
        <th>
            <label>FirstName</label>
        </th>
        <th>
            <label>LastName</label>
        </th>
        <th>
            <label>Deposits</label>
        </th>
        <th>
            <label>Deposits Amount</label>
        </th>
    </tr>
    </thead>
    <tbody>
    {{#users}}
        <tr>
            <td headers="userId">{{id}}</td>
            <td headers="firstName">{{firstName}}</td>
            <td headers="lastName">{{lastName}}</td>
            <td headers="deposits">{{deposits}}</td>
            <td headers="depositAmount">{{depositsAmount}}</td>
        </tr>
    {{/users}}
    </tbody>
</table>
</body>
</html>